<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>

</div>

<nav>
    <ul>
        <li><a [routerLink]="[ '/home']" routerLinkActive="active"> Home</a></li>
        <li><a [routerLink]="[ '/contacto']" routerLinkActive="active">Contacto</a></li>
        <li><a [routerLink]="[ '/empleado']" routerLinkActive="active">Empleado</a></li>
        <li><a [routerLink]="[ '/fruta']" routerLinkActive="active">Fruta</a></li>
        <li><a [routerLink]="[ '/coche']" routerLinkActive="active">Coches</a></li>
        <li><a [routerLink]="[ '/plantilla']" routerLinkActive="active">Plantilla</a></li>
    </ul>

</nav>
<router-outlet></router-outlet>